/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  background: #c8b6e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 2px solid #888;
}

.logo {
  width: 100px;
  height: 70px;
  background: #eee;
}

.nav a {
  text-decoration: none;
  margin: 0 10px;
  padding: 10px 15px;
  border: 1px solid #888;
  background: #eee;
  color: #000;
}

/* COMPANY INFO */
.company-info {
  text-align: center;
  padding: 20px;
}

.company-info h1 {
  margin-bottom: 10px;
}

/* CONTACT SECTION */
.contact-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: stretch;
}

/* MAP */
.map iframe {
  width: 100%;
  /* height: 300px; */
  height: 100%;
  border: 1px solid #ccc;
}

.map {
  flex: 1;
  display: flex;
}

/* FORM */
.form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.form-row label {
  width: 100px;
}

.form-row input {
  flex: 1;
  padding: 8px;
  border: 1px solid #aaa;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-item {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  margin-bottom: 5px;
}

.form label,
.form p {
  margin-top: 10px;
}

.form input,
.form textarea {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #aaa;
}

.form textarea {
  height: 100px;
}

.checkbox {
  margin-top: 10px;
}

.form button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background: #ddd;
  border: 1px solid #888;
  cursor: pointer;
}

/* EMPLOYEES */
.employees {
  border-top: 2px solid #ccc;
  padding: 20px;
  text-align: center;
}

.employee-grid {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.employee img {
  width: 100px;
  height: 100px;
  background: #eee;
}

.employee p {
  margin-top: 10px;
}

/* FOOTER */
.footer {
  position: relative;
  background: #c8b6e2;
  /* background: green; */
  padding: 20px 0;
  border-top: 2px solid #888;
}

/* PERFECT CENTER TEXT */
.footer p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

/* ICONS ON RIGHT */
.socialmedia {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 10px;
}

/* CLEAN ICONS (NO BOXES) */
.socialmedia a {
  text-decoration: none;
  border: none;
  padding: 0;
}

.socialmedia img {
  width: 35px;
  height: 30px;
  display: block;
}