:root {
  --primary-color: #0b3d91;
  --secondary-color: #f4a261;
  --accent1-color: #264653;
  --accent2-color: #e9c46a;

  --heading-font: Georgia, serif;
  --body-font: Arial, Helvetica, sans-serif;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

/* Layout width */
header,
main,
footer {
  width: 840px;
  margin: 0 auto;
}

/* Header */
header {
  /* background-color: var(--primary-color); */
  display: grid;
  grid-template-columns: 150px 1fr;
  color: white;
  /* display: flex; */
  /* justify-content: space-between; */
  align-items: center;
  padding: 10px;
}

header img {
  width: 120px;
}

/* Navigation */
nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  /* padding-left: 40px; */
  margin-top: 10px;
}

nav a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

/* Headings */
h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

/* Spacing */
nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

/* Hero Section */
.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

/* Hero Title */
.hero article h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: var(--accent1-color);
  color: white;
  opacity: 0.8;
}

/* Hero Article */
.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: var(--accent2-color);
  opacity: 0.9;
  color: white;
  padding: 15px;
}

/* Article Image */
.hero article img {
  float: right;
  width: 125px;
  margin-left: 10px;
}

.history-content {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  align-items: center;
  gap: 20px;
}

.history-content img {
  width: 100%;
}

.adventure-gallery {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.adventure-gallery figure {
  text-align: center;
  width: 100%
}

.adventure-gallery img {
  width: 100%;
  height: auto;
}

/* Footer */
footer {
  /* text-align: left; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border-top: 1px solid var(--secondary-color);
  padding-top: 10px;
}

/* Social Media */
.socialmedia {
  display: flex;
  justify-content: left;
  gap: 15px;
}

.socialmedia a {
  text-decoration: none;
}

.socialmedia img {
  width: 30px;
  margin: 5px;
}

section {
  margin-top: 20px;
}

section h2 {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 10px;
}

section p {
  text-align: left;
  padding: 10px;
}