:root {
  --primary-color: darkblue;
  --secondary-color: #333;
  --third-color: #eee;
  --white: white;
  --border-color: #000;
  --shadow-color: gray;
  --height: auto;
  --small-padding: 2px;
  --medium-padding: 10px;
  --large-padding: 20px;
  --image-width-small: 150px;
  --image-width-large: 200px;
  --max-width: 840px;
}

nav {
  background-color: var(--primary-color);
  padding: var(--medium-padding);
}

nav a {
  color: var(--white);
  display: block;
  padding: var(--large-padding);
}

main {
  max-width: var(--max-width);
}

main img {
  width: var(--image-width-small);
  height: var(--height);
  border: 1px solid var(--border-color);
  padding: var(--small-padding);
  box-shadow: 0 0 30px var(--shadow-color);
}

/* main img { */
/* width: 150px; */
/* height: auto;} */

h1 {
  color: var(--primary-color);
}

p {
  padding: 0;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  /* 1️⃣ */
  padding: 1rem;
  background-color: var(--third-color);
  color: var(--secondary-color);
  text-align: center;
}

aside img {
  width: var(--image-width-large);
  height: var(--height);
}

footer {
  margin-top: 15px;
  border-top: 1px solid var(--border-color);
  text-align: center;
}